/* ------------------------------ header start ----------------------------------------- */

.header-list {
  display: none;
}

.icon span a {
  display: block;
}

/* ------------------------------ header over ----------------------------------------- */

/* --------------------------- main-item-area2 start --------------------------- */

.main-item-area2-part1, .main-item-area2-part2, .main-item-area2-part3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main-item4, .main-item5, .main-item6, .main-item7, .main-item8, .main-item9 {
  width: 100%;
  margin-bottom: 1%;
  margin: 1% auto;
}

.main-item4 img, .main-item7 img, .main-item8 img {
  width: 100%;
  height: 100%;
  margin: 1% auto;
}

.main-item5, .main-item6, .main-item9 {
  width: 100%;
  height: 100%;
}

/* --------------------------- main-item-area2 over --------------------------- */

/* main-item-area3 */

.main-item-area3 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-item10, .main-item11 {
  width: 70%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.main-item10 {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: thin;
  padding-bottom: 2.0rem;
  margin-top: 2.0vw;
  margin-bottom: 2.0vw;
}

/* main-item-area3 over */



/*----------------------------------- form-area start -------------------------------------------*/

.form-area {
  height: 100%;
}

/*----------------------------------- form-area over -------------------------------------------*/

/* footer start */

/* footer-flex */

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: none;
}

.footer-item1, .footer-item2, .footer-item3, .footer-item4 {
  border-bottom-color: rgb(224, 216, 216);
  border-bottom-style: solid;
  border-bottom-width: thin;
  
  width: 90%;
  margin: 0 auto;
}

.footer-item1 ul, .footer-item2 ul, .footer-item3 ul, .footer-item4 ul {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-item1 li, .footer-item2 li, .footer-item3 li, .footer-item4 li {
  width: 26%;
}

/* footer-flex over */

/* footer-container and footer-identity */

.footer-container {
  display: flex;
  justify-content: center;
  float: none;
  clear: both;
}

.footer-identity, .footer-sns, .footer-list {
  clear: both;
  float: none;
}

.footer-identity {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

/* footer-container and footer-identity over */

/* footer over */
